---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: customconfigs.infrastructuremanager.kyma-project.io
spec:
  group: infrastructuremanager.kyma-project.io
  names:
    kind: CustomConfig
    listKind: CustomConfigList
    plural: customconfigs
    singular: customconfig
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              cache:
                items:
                  description: RegistryCache represents a registry cache to deploy.
                  properties:
                    garbageCollection:
                      description: |-
                        GarbageCollection contains settings for the garbage collection of content from the cache.
                        Defaults to enabled garbage collection.
                      properties:
                        ttl:
                          description: |-
                            TTL is the time to live of a blob in the cache.
                            Set to 0s to disable the garbage collection.
                            Defaults to 168h (7 days).
                          type: string
                      required:
                      - ttl
                      type: object
                    proxy:
                      description: Proxy contains settings for a proxy used in the
                        registry cache.
                      properties:
                        httpProxy:
                          description: HTTPProxy field represents the proxy server
                            for HTTP connections which is used by the registry cache.
                          type: string
                        httpsProxy:
                          description: HTTPSProxy field represents the proxy server
                            for HTTPS connections which is used by the registry cache.
                          type: string
                      type: object
                    remoteURL:
                      description: |-
                        RemoteURL is the remote registry URL. The format must be `<scheme><host>[:<port>]` where
                        `<scheme>` is `https://` or `http://` and `<host>[:<port>]` corresponds to the Upstream

                        If defined, the value is set as `proxy.remoteurl` in the registry [configuration](https://github.com/distribution/distribution/blob/main/docs/content/recipes/mirror.md#configure-the-cache)
                        and in containerd configuration as `server` field in [hosts.toml](https://github.com/containerd/containerd/blob/main/docs/hosts.md#server-field) file.
                      type: string
                    secretReferenceName:
                      description: SecretReferenceName is the name of the reference
                        for the Secret containing the upstream registry credentials.
                      type: string
                    upstream:
                      description: |-
                        Upstream is the remote registry host to cache.
                        The value must be a valid DNS subdomain (RFC 1123) and optionally a port.
                      type: string
                    volume:
                      description: Volume contains settings for the registry cache
                        volume.
                      properties:
                        size:
                          anyOf:
                          - type: integer
                          - type: string
                          description: |-
                            Size is the size of the registry cache volume.
                            Defaults to 10Gi.
                            This field is immutable.
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        storageClassName:
                          description: |-
                            StorageClassName is the name of the StorageClass used by the registry cache volume.
                            This field is immutable.
                          type: string
                      type: object
                  required:
                  - upstream
                  type: object
                type: array
            required:
            - cache
            type: object
        type: object
    served: true
    storage: true
