name: tests

on:
  push:
    branches:
      - main
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-*"
    paths-ignore:
      - .reuse
      - LICENSES/
      - LICENSE
      - .gitignore
      - "**.md"

  pull_request_target:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - .reuse
      - LICENSES/
      - LICENSE
      - .gitignore
      - "**.md"
env:
  GITHUB_BASELINE_WORKFLOW_REF: "tests"

permissions:
  contents: read
  
jobs:
# lint:
############################################################################################
  unit-tests:
    runs-on: ubuntu-latest
    steps:
############################################################################################
    - name: Checkout code
      uses: actions/checkout@v5
      with:
        ref: ${{ github.event.pull_request.head.ref }}
        repository: ${{ github.event.pull_request.head.repo.full_name }}
############################################################################################
    - name: Set up cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
          /home/runner/work/infrastructure-manager/infrastructure-manager/bin
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
############################################################################################
    - name: Set up go environment
      uses: actions/setup-go@v5
      with:
        go-version: 1.25.0
############################################################################################
    - name: Run unit tests
      run: make test
    - name: Upload coverage artifact
      uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: "code-coverage"
        path: "coverage.txt"
    - name: coveralls github action
      uses: coverallsapp/github-action@v2.3.6
      with:
        format: golang
        file: ./coverage.txt
        fail-on-error: false

  code_coverage:
    name: "Code coverage report"
    if: github.event_name == 'pull_request_target'
    runs-on: ubuntu-latest
    needs: unit-tests
    permissions:
      contents: read
      actions: read
      pull-requests: write
    steps:
      - uses: fgrosse/go-coverage-report@3dda317b2b30882e21656aea68a284ed628e6452
        with:
          coverage-artifact-name: "code-coverage"
          coverage-file-name: "coverage.txt"
