name: Upload release report

on:
  workflow_run:
    workflows: ["tests"]
    types:
      - completed

jobs:
  check-tag:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'push'
    runs-on: ubuntu-latest
    outputs:
      is_tag: ${{ steps.check.outputs.is_tag }}
      tag_name: ${{ steps.check.outputs.tag_name }}
    steps:
      - name: Check if triggered by tag
        id: check
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          REF="${{ github.event.workflow_run.head_branch }}"

          if [[ "$REF" =~ ^[0-9]+\.[0-9]+\.[0-9]+(-.*)?$ ]]; then
            echo "is_tag=true" >> $GITHUB_OUTPUT
            echo "tag_name=$REF" >> $GITHUB_OUTPUT
          else
            echo "is_tag=false" >> $GITHUB_OUTPUT
          fi

  upload-release-report:
    needs: check-tag
    if: needs.check-tag.outputs.is_tag == 'true'
    permissions:
      actions: read
      contents: read
    uses: kyma-project/compliancy/.github/workflows/upload-release-report.yml@main
    with:
      release_version: ${{ needs.check-tag.outputs.tag_name }}
    secrets:
      RELEASE_LOG_UPLOADER_SA: ${{ secrets.RELEASE_LOG_UPLOADER_SA }}
